html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "DM SANS";
}

.main {
    min-height: 100vh;
    width: 100vw;
    background-color: #dedede;
    font-size: 5vh;
    color: #545454;
    text-shadow: 3px 3px 0px #989898;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    justify-content: center;
    text-align: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: bold;
    width: 100vw;
    height: 40vh;
}

.interaction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    gap: 0.5vw;
}

.interaction > div {
    display: flex;
    gap: 0.5vw;
}

h1 {
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

p {
    padding: 0;
    margin: 0;
    font-size: 4vh;
    color: #545454;
    text-shadow: none;
}

img {
    width: 8vw;
    height: 8vw;
    position: absolute;
    top:2.5vh;
    left: 2.5vh;
    border: 3px solid #000;
    border-radius: 8vh;
}

#seleccion_de_datos {
    width: 20vw;
    height: 8vh;
    outline: none;
    border: 0px solid #545454;
    background-color: #dedede;
    font-family: "DM SANS";
    font-size: 4vh;
    font-weight: bold;
    color: #545454;
    
    appearance: none;
    align-items: center;
    text-align: center;
    text-align-last: center;
    border-radius: 3vh;
    transition: background-color 0.5s;
}

#seleccion_de_datos:hover {
    width: 20vw;
    height: 8vh;
    background-color: #efefef;
}


#seleccion_de_datos option {
    background: #efefef;
    color: #333;
    font-size: 2.5vh;
    padding: 10px;
    border-radius: 3vh;
    border: 0px;
}

#valor {
    width: 45vw;
    height: 8vh;
    font-size: 2vh;
    border: 3px solid #545454;
    border-radius: 3vh;
    background-color: #dedede;
    font-weight: bold;
    padding: 1vw;
}

#añadir {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    min-width: fit-content;
    height: 8vh;
    font-size: 2vh;
    border: 3px solid #545454;
    border-radius: 3vh;
    background-color: #dedede;
    font-weight: bold;
    padding: 1vw;
}

#indice {
    width: 25vw;
    height: 8vh;
    font-size: 2vh;
    border: 3px solid #545454;
    border-radius: 3vh;
    background-color: #dedede;
    font-weight: bold;
    padding: 1vw;
}

#acceder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    min-width: fit-content;
    height: 8vh;
    font-size: 2vh;
    border: 3px solid #545454;
    border-radius: 3vh;
    background-color: #dedede;
    font-weight: bold;
    padding: 1vw;
}

#actualizar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    min-width: fit-content;
    height: 8vh;
    font-size: 2vh;
    border: 3px solid #545454;
    border-radius: 3vh;
    background-color: #dedede;
    font-weight: bold;
    padding: 1vw;
}

#eliminar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    min-width: fit-content;
    height: 8vh;
    font-size: 2vh;
    border: 3px solid #545454;
    border-radius: 3vh;
    background-color: #dedede;
    font-weight: bold;
    padding: 1vw;
}